{% extends 'common/common.html'%}
    {%block content%}
    {% for post in posts %}
<hr>

        <div>
            <p>작성자 :{{post.author}}</a></p>

            <label>내용 : {{post.comment}}</label><br>
            <label>작성된 시간{{post.created_date}}</label><br>
            <label>수정된 시간 : {{post.modified_date}}</label><br>

        </div>
    <form action="{% url 'post:post_delete' post_pk=post.pk %}" method="POST">
        {%csrf_token%}
        <button type="submit">삭제</button>
    </form>

    <form action="{% url 'post:post_modify' post_pk=post.pk %}" method="POST">
        {%csrf_token%}
        <button type="submit">수정</button>
    </form>
    {% endfor %}

{%endblock%}